*.txt
*.csv
*.pyc
/oudspul/
/test/
/private/
/backup/
bewaren/
.vscode/
myenv/
.gitignore


simplified.py
resultaat.csv
probeersel.py
.vscode/snippets/python.json
.vscode/extensions.json
settings.json
__pycache__/belastingen.cpython-311.pyc

__pycache__/belastingen.cpython-311.pyc
__pycache__/classes_IB.cpython-311.pyc
__pycache__/function_calculations.cpython-311.pyc
__pycache__/functions_input.cpython-311.pyc
__pycache__/functions_output.cpython-311.pyc
__pycache__/save_input.cpython-311.pyc
widget_table.numbers
__pycache__/functions_input.cpython-311.pyc
__pycache__/functions_input.cpython-311.pyc
__pycache__/functions_output.cpython-311.pyc
