*.txt
*.csv
/oudspul/
/test/
/private/
/backup/
simplified.py
resultaat.csv
probeersel.py
.vscode/snippets/python.json
.vscode/extensions.json
settings.json
__pycache__/belastingen.cpython-311.pyc
__pycache__/belastingen.cpython-311.pyc
